@mixin hidden {
  position: absolute;
  top: -2000px;
  z-index: -1000;
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
  border: 0;
  padding: 0;
  visibility: hidden;
}

@mixin visible {
  position: static;
  z-index: 1000;
  width: auto;
  height: auto;
  margin: 0;
  opacity: 1;
  visibility: visible;
}
