// Pseudo-classes
@mixin hover {
  & {
    outline: none;
  }

  &:hover,
  &:focus {
    @content;
  }
}

@mixin hover-opacity {
  & {
    outline: none;
  }

  &:hover,
  &:focus {
    opacity: $hover-opacity;
  }
}

@mixin hover-clean {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin active{
  &:active {
    @content;
  }
}

@mixin active-opacity {
  &:active {
    opacity: $down-opacity;
  }
}

@mixin active-clean {
  &:active {
    @content;
  }
}

@mixin active-hover-clean {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@mixin active-scale-opacity {
  &:active {
    transform: scale($down-scale);
    opacity: $down-opacity;
  }
}

@mixin focus-opacity {
  @include hover-opacity;
  @include active-opacity;
  transition: opacity $transition-duration ease-in-out;
}

@mixin focus-scale-opacity {
  transition: $transition-duration ease-in-out;
  outline: 0;

  &:hover,
  &:focus {
    transform: scale($hover-scale);
  }

  &:active {
    transform: scale($down-scale);
    opacity: $down-opacity;
  }
}

@mixin disabled-focus-scale-opacity($opacity: 0.35) {
  cursor: default;
  opacity: $opacity;

  &:hover,
  &:focus {
    transform: translate(0);
  }

  &:active {
    transform: translate(0);
    opacity: $opacity;
  }
}

@mixin focus-scale-opacity-ba {
  transition: $transition-duration ease-in-out;
  outline: 0;

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    transform: scale($hover-scale);
  }

  &:active::before,
  &:active::after {
    transform: scale($down-scale);
  }
}

@mixin focus-scale-opacity-b {
  transition: $transition-duration ease-in-out;
  outline: 0;

  &:hover::before,
  &:focus::before {
    transform: scale($hover-scale);
  }

  &:active::before {
    transform: scale($down-scale);
  }
}

@mixin focus-scale-opacity-a {
  transition: $transition-duration ease-in-out;
  outline: 0;

  &:hover::after,
  &:focus::after {
    transform: scale($hover-scale);
  }

  &:active::after {
    transform: scale($down-scale);
  }
}


@mixin focus-color($color: white) {
  outline: 0;
  transition: color $transition-duration ease-in-out, opacity $transition-duration ease-in-out;
  @include active-opacity;

  &:hover,
  &:focus {
    color: $color;
  }
}

@mixin focus-fill($color: white) {
  outline: 0;
  transition: fill $transition-duration ease-in-out, opacity $transition-duration ease-in-out;
  @include active-opacity;

  &:hover,
  &:focus {
    fill: $color;
  }
}


@mixin disabled-before {
  &::before,
  &:active::before,
  &:hover::before,
  &:focus::before {
    @content;
  }
}

@mixin disabled-after {
  &::after,
  &:active::after,
  &:hover::after,
  &:focus::after {
    @content;
  }
}

@mixin disabled-before-after {
  &::after,
  &:active::after,
  &:hover::after,
  &:focus::after,
  &::before,
  &:active::before,
  &:hover::before,
  &:focus::before {
    @content;
  }
}

@mixin disabled-focus-opacity($opacity: 1) {
  cursor: default;
  opacity: $opacity;

  &:active,
  &:hover,
  &:focus {
    opacity: $opacity;
  }
}


// Pseudo-elements
  /* Before & after */
@mixin before {
  &::before {
    content: "";
    position: absolute;
    display: block;
    @content
  }
}

@mixin after {
  &::after {
    content: "";
    position: absolute;
    display: block;
    @content
  }
}

@mixin before-after {
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    @content;
  }
}

@mixin before-clean {
  &::before {
    @content;
  }
}
@mixin after-clean {
  &::after {
    @content;
  }
}

@mixin before-after-clean {
  &::before,
  &::after {
    @content;
  }
}

@mixin before-after-active {
  &:active::before,
  &:active::after {
    @content;
  }
}

@mixin before-active {
  &:active::before {
    @content;
  }
}

@mixin after-active {
  &:active::after {
    @content;
  }
}

@mixin before-after-active-opacity {
  &:active::before,
  &:active::after {
    opacity: $down-opacity;
  }
}

@mixin before-active-opacity {
  &:active::before {
    opacity: $down-opacity;
  }
}

@mixin after-active-opacity {
  &:active::after {
    opacity: $down-opacity;
  }
}

@mixin before-after-hover {
  &:hover::before,
  &:hover::after {
    @content;
  }
}

@mixin before-hover {
  &:hover::before {
    @content;
  }
}

@mixin after-hover {
  &:hover::after {
    @content;
  }
}

@mixin before-after-hover-opacity {
  &:hover::before,
  &:hover::after {
    opacity: $hover-opacity;
  }
}

@mixin before-hover-opacity {
  &:hover::before {
    opacity: $hover-opacity;
  }
}

@mixin after-hover-opacity {
  &:hover::after {
    opacity: $hover-opacity;
  }
}

@mixin before-after-focus-opacity {
  @include before-after-hover-opacity;
  @include before-after-active-opacity;
}

@mixin before-focus {
  @include before-hover-opacity;
  @include before-active-opacity;
}

@mixin after-focus {
  @include after-hover-opacity;
  @include after-active-opacity;
}

  /* Placeholder */
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin placeholder-focus{
  outline: 0;

  &:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: $transition-duration ease-in-out;
    transition: $transition-duration ease-in-out;
  }
  &:focus:-moz-placeholder {
    opacity: 0;
    -moz-transition: $transition-duration ease-in-out;
    transition: $transition-duration ease-in-out;
  }
  &:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: $transition-duration ease-in-out;
    transition: $transition-duration ease-in-out;
  }
  &:focus:-ms-input-placeholder {
    opacity: 0;
    -ms-transition: $transition-duration ease-in-out;
    transition: $transition-duration ease-in-out;
  }
}
