.button {
  @include reset-button;
  @include padding-vertical(12px);
  @include padding-horizon(15px);
  @include transition;
  display: inline-block;
  min-width: 261px;
  line-height: 20px;
  color: $black-second;
  background: white;
  border-radius: 2px;
  box-shadow: -16px 24px 24px rgba(0, 0, 0, 0.08);

  @include hover {
    box-shadow: -6px 10px 10px rgba(0, 0, 0, 0.06);
    transform: scale(0.99);
  }

  @include active {
    box-shadow: -4px 6px 6px rgba(0, 0, 0, 0.04);
    transform: scale(0.98);
    opacity: $hover-opacity;
  }
}

//Desktop middle
@include desktop-middle {
  .button {
    min-width: 240px;
    font-size: 14px;
    box-shadow: -7px 14px 14px rgba(0, 0, 0, 0.08);

    @include hover {
      box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.06);
    }

    @include active {
      box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.04);
    }
  }
}

//Tablet
@include tablet {
  .button {
    @include padding-vertical(10px);
    min-width: 200px;
    font-size: 12px;
    line-height: 120%;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.08);

    @include hover {
      box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.06);
    }

    @include active {
      box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.04);
    }
  }
}

//Mobile
@include mobile {
  .button {
    @include padding-vertical(15px);
    width: 100%;
    font-size: 14px;
  }
}
