.button {
  @include flex;
  @include reset-button;
  @include padding-vertical(15px);
  @include padding-horizon(15px);
  position: relative;
  align-items: center;
  min-width: 261px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $black-second;
  background-color: white;
  border-radius: 2px;
  box-shadow: -16px 24px 24px rgba(0, 0, 0, 0.08);

  @include button-hover;

  @include after-clean {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 6px solid transparent;
    border-left: 6px solid $black;
  }
}

//Desktop middle
@include desktop-middle {
  .button {
    min-width: 240px;
    font-size: 14px;
    box-shadow: -7px 14px 14px rgba(0, 0, 0, 0.08);
  }
}

//Tablet
@include tablet {
  .button {
    @include padding-vertical(10px);
    min-width: 200px;
    font-size: 12px;
    line-height: 120%;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.08);

    @include after-clean {
      width: 10px;
      height: 10px;
      border-width: 5px;
    }
  }
}

//Mobile
@include mobile {
  .button {
    @include padding-vertical(15px);
    width: 100%;
    max-width: 315px;
    font-size: 14px;
  }
}
