.footer {
  overflow: hidden;
  line-height: 26px;
  color: #CDCDCD;
  background-color: #18181A;
}

.footer__animation-box {
  @include padding-vertical(3%);
}

.footer__copyright {
  @include reset-margin-text;
  text-align: center;
}

//Desktop Middle
@include desktop-middle {
  .footer {
    font-size: 14px;
  }
}

//Desktop Small
@include desktop-small {
  .footer {
    font-size: 12px;
  }
}

//Tablet
@include tablet {
  .footer {
    font-size: 10px;
  }
}

//Mobile
@include mobile {
  .footer__animation-box {
    @include padding-vertical(15px);
  }
}
