.header {
  @include padding-vertical(1%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  max-width: 1920px;
  font-weight: 600;
  line-height: 20px;
  color: $light-black;
  background-color: white;
  opacity: 0;
  transition: opacity 1s ease-in-out;

  &--fixed {
    opacity: 1;
  }
}

.no-fixed {
  .header {
    position: relative;
    opacity: 1;
  }
}

.header__container {
  @include flex;
  @include padding-horizon(2%, 2.6%);
}

.header__logo-box {
  width: 16.5%;
  margin-right: 3%;
}

.header__logo {
  @include reset-margin-text;
}

.header__list {
  @include flex;
  @include reset-list;
  justify-content: space-between;
  width: 62%;
}

.header__image {
  @include object-fit(contain);
  width: 100%;
}

.header__button {
  display: none;
}

.header__nav {
  @include flex;
  justify-content: space-between;
  align-items: center;
  width: 60.5%;
}

.header__inner {
  @include flex;
  width: 35%;
}

.header__languages {
  @include center-flex;
  position: relative;
  margin-right: 1%;

  @include hover {
    .header__languages-wrapper {
      top: 70%;
      z-index: 1000;
      opacity: 1;
    }

    .header__languages-link {
      @include after-clean {
        top: 40%;
        transform: rotate(-135deg);
      }
    }
  }
}

.header__languages-wrapper {
  @include flex-column;
  @include transition-fade;
  position: absolute;
  top: -300px;
  z-index: -1000;
  width: 100%;
  background-color: white;
  opacity: 0;
}

.header__languages-link {
  @include focus-color($red);
  margin-bottom: 8%;
  padding-right: 25px;
  padding-left: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--active {
    position: relative;

    @include after {
      top: 0;
      right: 5px;
      z-index: 100;
      width: 12px;
      height: 12px;
      border: 1px solid $red;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg);
      transition: all $transition-duration ease;
    }
  }
}

.header__link {
  @include focus-opacity;

  @include hover {
    position: relative;

    @include after-clean {
      @include center-transform-horizon;
      bottom: -4px;
      z-index: 100;
      width: 100%;
      height: 2px;
      background-color: $black;
      opacity: 1;
    }
  }

  @include after {
    @include transition-fade;
    opacity: 0;
  }
}

.header__shop,
.header__vacancies {
  @include focus-opacity;
}

.header__main-link-box {
  @include flex;
  align-items: center;
  margin-left: auto;
}

.header__main-link {
  justify-content: center;

  @include active {
    .header__icon {
      &--phone {
        animation: none;
      }
    }
  }

  @include after-clean {
    display: none;
  }
}

.header__icon {
  display: inline-block;

  &--phone {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    animation: vibrate 6s linear infinite;
  }

  &--basket {
    margin-top: -4px;
    margin-right: 12px;
    fill: $red;
  }
}

.header__shop {
  @include flex;
  display: inline-block;
  align-items: center;
  margin-right: 8%;
  color: $red;
}

.header__vacancies {
  display: flex;
  align-items: center;
}

@media (max-width: 1750px) {
  .header {
    font-size: 14px;
  }
}

@media (max-width: 1775px) {
  .header__main-link {
    min-width: auto;
    padding-left: 30px;
  }

  .header__languages-link {
    margin-bottom: 0;
  }
}

//Desktop Middle
@include desktop-middle {
  .header {
    font-size: 12px;
  }

  .header__main-link {
    @include padding-vertical(8px);
    min-width: auto;
    font-size: inherit;
  }

  .header__languages {
    @include hover {
      .header__languages-wrapper {
        top: 72%;
      }
    }
  }
}

//Desktop Small
@include desktop-small {
  .header {
    font-size: 10px;
  }

  .header__logo-box {
    margin-right: 2%;
  }

  .header__inner {
    width: 31%;
  }

  .header__languages-link {
    margin-bottom: 0;
    padding-right: 19px;
    padding-left: 7px;

    @include after-clean {
      width: 8px;
      height: 8px;
    }

    &--active {
      @include after-clean {
        top: 3px;
      }
    }
  }

  .header__languages {
    @include hover {
      .header__languages-wrapper {
        top: 77%;
      }
    }
  }
}

//Tablet
@include tablet {
  .header {
    @include padding-vertical(13px, 15px);
    min-height: 86px;
    font-size: 16px;
    line-height: 26px;

    &--active {
      .header__nav {
        position: absolute;
        top: 100%;
        z-index: 100;
        width: 45%;
        height: auto;
      }

      .header__button {
        background-color: transparent;

        @include before-clean {
          box-shadow: none;
          transform: rotate(45deg);
        }

        @include after-clean {
          height: 2px;
          transform: rotate(-45deg);
        }
      }

      .header__inner,
      .header__item {
        opacity: 1;
      }
    }
  }

  .header__container {
    @include padding-tablet;
    @include center-margin;
    justify-content: space-between;
    width: $tablet-width;
  }

  .header__logo-box {
    width: 35%;
    margin-right: 0;
  }

  .header__nav {
    position: absolute;
    top: -1000px;
    right: 0;
    height: 0;
    transition: transform;
  }

  .header__button-box {
    display: flex;
    align-items: center;
  }

  .header__button {
    @include focus-scale-opacity;
    @include transition;
    @include reset-button;
    position: relative;
    display: inline-block;
    width: 21px;
    height: 21px;

    @include before-after {
      @include transition;
      left: 0;
      z-index: 100;
      width: 100%;
      background-color: $black;
    }

    @include before {
      @include center-transform-vertical;
      height: 2px;
      box-shadow: 0 7px 0 0 $black,
        0 -7px 0 0 $black;
    }
  }

  .header__main-link-box {
    margin-right: 20px;
    margin-left: 10px;
    transition: top $transition-duration ease;
  }

  .header__list {
    width: 100%;
  }

  .header__inner,
  .header__item {
    @include transition;
    @include padding-tablet;
    width: 100%;
    text-align: right;
    background-color: white;
    border-bottom: 1px solid $black;
    border-left: 1px solid $black;
    opacity: 0;
  }

  .header__item {
    @include padding-vertical(8px);

    &:first-of-type {
      border-top: 1px solid $black;
    }

    &:nth-of-type(2) {
      transition-delay: 0.1s;
    }

    &:nth-of-type(3) {
      transition-delay: 0.2s;
    }

    &:nth-of-type(4) {
      transition-delay: 0.3s;
    }

    &:nth-of-type(5) {
      transition-delay: 0.4s;
    }

    &:nth-of-type(6) {
      transition-delay: 0.5s;
    }
  }

  .header__inner {
    @include padding-vertical(12px, 10px);
    justify-content: space-between;
    font-size: 12px;
    transition-delay: 0.6s;

    &:last-of-type {
      transition-delay: 0.7s;
    }
  }

  .header__shop {
    order: 10;
    margin-right: 0;
  }

  .header__link--active {
    position: relative;
    padding-bottom: 0;

    @include after-clean {
      display: none;
    }
  }

  .header__icon {
    &--basket {
      order: 10;
      margin-right: 0;
      margin-left: 10px;
    }
  }

  .header__languages {
    margin-right: 0;
    margin-left: auto;
  }

  .header__languages-link {
    padding-right: 25px;

    @include after-clean {
      width: 12px;
      height: 12px;
    }
  }
}

//Mobile
@include mobile {
  .header {
    min-height: auto;
    padding-bottom: 10px;
    opacity: 1;

    &--active {
      .header__nav {
        width: 100%;
        border-left: 0;
      }

      .header__container {
        padding-bottom: 0;
      }

      .header__main-link-box,
      .header__languages {
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        transform: scale(0);
        visibility: hidden;
        opacity: 0;
      }

      .header__logo-box {
        margin-bottom: 0;
      }

      .header__item {
        border-left: 0;
      }

      .header__inner {
        border-left: 0;
      }
    }
  }

  .header__button-box {
    order: -1;
    margin-right: auto;
  }

  .header__container {
    @include transition;
    @include padding-mobile;
    width: 100%;
    padding-bottom: 15px;
  }

  .header__logo-box {
    width: 80%;
    margin-bottom: 15px;
  }

  .header__main-link-box {
    order: 3;
    width: 75%;
    margin-right: 0;
    margin-left: 0;
    transform: scale(1);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .header__item,
  .header__inner {
    text-align: left;
  }

  .header__link {
    @include transition;
  }

  .header__languages {
    order: 3;
    margin: 0;
    transform: scale(1);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .header__main-link {
    @include padding-horizon(15px);
  }
}
