.scroll-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  box-shadow: -16px 24px 24px rgba(0, 0, 0, 0.08);

  @include button-hover;

  @include after {
    top: 22px;
    left: 20px;
    z-index: 100;
    width: 10px;
    height: 10px;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    transform: rotate(-135deg);
  }
}

.scroll-button-box {
  position: absolute;
  right: 4.5%;
  bottom: 0;
  z-index: 100;
  width: 50px;
  height: 50px;

  &--ref {
    bottom: 25px;
  }

  &--contacts {
    bottom: 10%;
  }

  &--range {
    bottom: 45px;
  }
}

//Desktop Middle
@include desktop-middle {
  .scroll-button {
    width: 45px;
    height: 45px;
    box-shadow: -12px 20px 20px rgba(0, 0, 0, 0.08);

    @include after-clean {
      top: 20px;
      left: 18px;
    }
  }

  .scroll-button-box {
    right: 30px;

    &--contacts {
      bottom: 8.5%;
    }

    &--range {
      bottom: 30px;
    }
  }
}

//Tablet
@include tablet {
  .scroll-button-box {
    &--range {
      bottom: 20px;
    }
  }
}

//Mobile
@include mobile {
  .scroll-button-box {
    &--ref {
      bottom: 15px;
    }

    &--contacts {
      bottom: 15px;
    }
  }
}
