.subtitle {
  @include reset-margin-text;
  position: relative;
  padding-bottom: 29px;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: $black;

  @include after {
    bottom: 0;
    left: 0;
    width: 109px;
    height: 2px;
    background-color: $black;
  }
}

//Desktop Middle
@include desktop-middle {
  .subtitle {
    padding-bottom: 20px;
    font-size: 35px;
    line-height: 140%;

    @include after-clean {
      width: 90px;
    }
  }
}

//Desktop Small
@include desktop-small {
  .subtitle {
    padding-bottom: 15px;
    font-size: 30px;

    @include after-clean {
      width: 85px;
    }
  }
}

//Tablet
@include tablet {
  .subtitle {
    padding-bottom: 10px;
    font-size: 19px;

    @include after-clean {
      width: 70px;
    }
  }
}

//Mobile
@include mobile {
  .subtitle {
    padding-bottom: 8px;
    font-size: 16px;

    @include after-clean {
      width: 60px;
    }
  }
}

