.contacts-nav {
  @include flex;
  @include transition-fade;
  @include reset-list;
  @include padding-desktop;
  @include padding-vertical(2.5%);
  @include center-margin;
  top: 0;
  z-index: 99;
  justify-content: flex-end;
  width: 100%;
  max-width: $desktop-width + ($desktop-padding * 2);
  margin-bottom: 1%;
  color: $black;
  background-color: white;
  transform: translateY(-1000%);
  opacity: 0;

  @include after {
    @include center-transform-vertical;
    left: $desktop-padding;
    width: 109px;
    height: 2px;
    background-color: $black;
  }

  &--fixed {
    position: sticky;
    transform: translateY(0);
    opacity: 1;
  }
}

.contacts-nav__item {
  margin-right: 2.9%;

  &:last-of-type {
    margin-right: 0;
  }
}

.contacts-nav__link {
  @include focus-opacity;
}

//Desktop Middle
@include desktop-middle {
  .contacts-nav {
    font-size: 14px;
    line-height: 160%;
  }
}

//Desktop Small
@include desktop-small {
  .contacts-nav {
    top: 74px;
    font-size: 13px;
  }
}

//Tablet
@include tablet {
  .contacts-nav {
    @include padding-tablet;
    width: $tablet-width;
    font-size: 10px;

    @include after-clean {
      left: $tablet-padding;
    }
  }
}

//Mobile
@include mobile {
  .contacts-nav {
    @include padding-mobile;
    top: 150px;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;

    @include after-clean {
      display: none;
    }
  }

  .contacts-nav__item {
    width: 21%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
