.contacts {
  @include flex;
  @include swiper;
  @include container-desktop(1372px);
  padding-top: 12.3%;
  padding-right: 46px;
  padding-bottom: 6.7%;
  background-image: url("../img/svg/contacts/logo.svg");
  background-repeat: no-repeat;
  background-position: center 185px;
  background-size: 57%;
}

.contacts__container {
  position: relative;
  overflow: hidden;
}

.contacts__wrapper {
  @include flex;
  justify-content: space-between;
  align-self: flex-start;
  width: 60.6%;
  margin-bottom: 76px;
  overflow: hidden;
}

.contacts__list {
  @include reset-list;
  display: flex;

  &--thumbs {
    flex-direction: column;
    width: 100%;
    height: 458px;
  }
}

.contacts__item {
  flex-shrink: 0;
  height: 507px;

  &--thumbs {
    height: 108px;
  }
}

.contacts__pagination {
  @include reset-margin-text;
  width: 20%;
}

.contacts__time {
  @include reset-margin-text;
  width: 100%;
}

.contacts__address {
  @include flex;
  position: relative;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $grey;

  @include after {
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 20%;
    height: 0;
    background-color: #0F0F11;
  }

  &:first-of-type {
    .contacts__button-toggle {
      margin-left: 16px;
    }
  }

  &--active {
    margin-bottom: 7%;
    padding-bottom: 5%;

    @include after-clean {
      @include transition;
      height: 2px;
    }

    .contacts__box {
      @include after-clean {
        height: 20px;
      }
    }

    .contacts__adds-wrapper {
      @include flex;
      position: static;
      visibility: visible;
      opacity: 1;
    }

    .contacts__button-toggle {
      transform: rotate(180deg);
    }
  }
}

.contacts__address-container {
  @include flex-column;
  align-items: flex-start;
  align-self: flex-start;
  width: 39.3%;
  padding-top: 9px;
}

.contacts__box {
  @include flex;
  position: relative;

  @include after {
    top: 11px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background-color: #DCDCDC;
    transition: height $transition-duration ease-in-out;
  }
}

.contacts__button-toggle {
  @include focus-opacity;
  @include transition;
  @include reset-button;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 2px;
  border: 7px solid transparent;
  border-top: 7px solid $black;
  transform: translateY(5px);
  cursor: pointer;
}

.contacts__title {
  margin-bottom: 5.7%;
}

.contacts__adds-wrapper {
  @include transition-fade;
  @include flex-column;
  position: absolute;
  top: -10000px;
  align-items: flex-start;
  visibility: hidden;
  opacity: 0;
}

.contacts__street,
.contacts__time {
  font-weight: 500;
  color: $black;
}

.contacts__city,
.contacts__street {
  display: inline-block;
}

.contacts__city {
  margin-right: 6px;
  margin-bottom: 4.5%;
  cursor: pointer;

  @include focus-opacity;
}

.contacts__adds-inner {
  margin-bottom: 14px;
}

.contacts__inner {
  position: relative;
  align-self: flex-start;
  width: 79%;
  overflow: hidden;

  &--thumbs {
    display: flex;
    width: 100%;
  }
}

.contacts__thumbs-wrapper {
  @include flex;
  width: 20%;
  overflow: hidden;
}

.contacts__list-wrapper {
  @include flex;
  width: 20%;
}

.contacts__photo {
  @include object-fit(cover);
  width: 100%;
  cursor: pointer;
}

.contacts__thumb {
  &--active {
    border: 2px solid $grey;
  }
}

.contacts__yet {
  @include reset-margin-text;
  @include center-margin;
  margin-top: auto;
  padding-bottom: 6px;
  font-weight: 600;
  cursor: default;
}

.contacts__buttons {
  @include center-transform-vertical;
  @include flex;
  position: absolute;
  z-index: 100;
  justify-content: space-between;
  width: 100%;
}

.contacts__button {
  @include focus-scale-opacity;
  @include reset-button;
  position: relative;
  display: block;
  width: 44px;
  height: 44px;

  @include after {
    top: 0;
    left: 0;
    z-index: 10;
    border: 22px solid transparent;
    border-right: 22px solid $black;
    opacity: 0.5;
  }

  &--next {
    @include after-clean {
      transform: rotate(180deg);
    }
  }

  &--disabled {
    @include disabled-focus-scale-opacity();
  }
}

.contacts__button-box {
  @include center-margin;
}

.contacts__button-link {
  padding-left: 65px;

  @include after-clean {
    margin-left: 16px;
  }
}

.contacts__tel {
  @include focus-opacity;
}

//Desktop Middle
@include desktop-middle {
  .contacts {
    background-position: center 125px;
  }

  .contacts__address {
    font-size: 15px;
    line-height: 120%;

    &--active {
      .contacts__box {
        @include after-clean {
          height: 15px;
        }
      }
    }
  }

  .contacts__item {
    height: 489px;
  }

  .contacts__list {
    &--thumbs {
      height: 440px;
    }
  }
}

//Desktop Small
@include desktop-small {
  .contacts {
    background-position: center 100px;
  }

  .contacts__address {
    font-size: 12px;

    &--active {
      .contacts__box {
        @include after-clean {
          top: 7px;
          height: 10px;
        }
      }
    }
  }

  .contacts__item {
    height: 400px;
  }

  .contacts__list {
    &--thumbs {
      height: 355px;
    }
  }
}

//Tablet
@include tablet {
  .contacts {
    @include container-tablet;
    @include padding-vertical(45px);
    background-position: center 15px;
  }

  .contacts__address {
    font-size: 9px;

    &--active {
      .contacts__box {
        @include after-clean {
          top: 5px;
          height: 10px;
        }
      }

      .contacts__button-toggle {
        transform: translateY(-5px) rotate(180deg);
      }
    }
  }

  .contacts__address-container {
    width: 44.3%;
  }

  .contacts__item {
    height: 260px;
  }

  .contacts__list {
    &--thumbs {
      height: 220px;
    }
  }

  .contacts__button-toggle {
    width: 10px;
    height: 10px;
    border: 5px solid transparent;
    border-top: 5px solid $black;
    transform: translateY(0);
  }

  .contacts__button {
    width: 30px;
    height: 30px;

    @include after-clean {
      border: 15px solid transparent;
      border-right: 15px solid $black;
    }
  }

  .contacts__city {
    margin-right: 3px;
  }

  .contacts__wrapper {
    width: 55.6%;
  }

  .contacts__yet {
    font-size: 12px;
  }
}

//Mobile
@include mobile {
  .contacts {
    @include flex;
    @include container-mobile;
    @include padding-vertical(30px);
    background-size: 225px;
  }

  .contacts__address-container {
    order: 2;
    width: 100%;
  }

  .contacts__wrapper {
    width: 100%;
    margin-bottom: 15px;
  }

  .contacts__inner,
  .contacts__thumbs-wrapper {
    width: 100%;
  }

  .contacts__inner {
    &--main {
      margin-bottom: 5px;
    }

    &--thumbs {
      margin-bottom: 5px;
    }
  }

  .contacts__list {
    &--thumbs {
      flex-direction: row;
      flex-width: wrap;
      height: auto;
    }
  }

  .contacts__item {
    height: 214px;

    &--thumbs {
      height: 50px;
    }
  }

  .contacts__button-box {
    margin-bottom: 20px;
  }

  .contacts__button-link {
    padding-left: 80px;
  }

  .contacts__yet {
    font-size: 10px;
  }
}
