.main {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.main__list {
  @include reset-list;
}

.main__services {
  @include padding-vertical(122px);
}

.main__news {
  @include padding-vertical(10.5%);
}


//Desktop middle
@include desktop-middle {
  .main__services {
    @include padding-vertical(90px);
  }
}

//Desktop Small
@include desktop-small {
  .main__services {
    @include padding-vertical(75px);
  }
}

//Tablet
@include tablet {
  .main__services {
    padding-bottom: 30px;
  }
}

//Mobile
@include mobile {
  .main__services {
    padding-bottom: 20px;
  }
}

