.main-contacts__title {
  margin-bottom: 5%;
  padding-bottom: 0;

  @include after-clean {
    display: none;
  }
}

.main-contacts__list {
  @include flex;
  @include reset-list;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: $grey;
}

.main-contacts__nav-list {
  position: relative;
  justify-content: flex-end;
  color: #949494;

  @include after {
    @include center-transform-vertical;
    left: 0;
    width: 109px;
    height: 2px;
    background-color: $black;
  }
}

.main-contacts__item {
  @include flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 7%;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.main-contacts__inner {
  position: relative;
  align-self: flex-start;
  width: 35%;
  padding-bottom: 1.5%;

  @include after {
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 109px;
    height: 1px;
    background-color: $black;
  }
}

.main-contacts__tel {
  @include focus-opacity;
  display: block;
}

.main-contacts__street,
.main-contacts__tel {
  color: black;
}

.main-contacts__time,
.main-contacts__city,
.main-contacts__street {
  @include reset-margin-text;
}

.main-contacts__street {
  margin-bottom: 4%;
}

.main-contacts__time {
  margin-bottom: 4%;
}

.main-contacts__map-link {
  @include padding-horizon(3%);
  position: absolute;
  right: 5%;
  bottom: 9%;
  z-index: 10;
  display: block;
  text-align: center;

  @include after-clean {
    display: none;
  }
}

.main-contacts__map {
  display: block;
  width: 100%;
  height: 100%;
}

.main-contacts__map-box {
  position: relative;
  width: 60%;
  height: 435px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  &--vinnitsya {
    background-image: url("../img/main/main-contacts/map-1.jpg");
  }

  &--dnipro {
    background-image: url("../img/main/main-contacts/map-2.jpg");
  }

  &--kyiv {
    background-image: url("../img/main/main-contacts/map-3.jpg");
  }

  &--kyiv-2 {
    background-image: url("../img/main/main-contacts/map-4.jpg");
  }

  &--lviv {
    background-image: url("../img/main/main-contacts/map-5.jpg");
  }

  &--odessa {
    background-image: url("../img/main/main-contacts/map-6.jpg");
  }

  &--poltava {
    background-image: url("../img/main/main-contacts/map-7.jpg");
  }

  &--kharkiv {
    background-image: url("../img/main/main-contacts/map-8.jpg");
  }

  &--cherkasy {
    background-image: url("../img/main/main-contacts/map-9.jpg");
  }
}

//Desktop Middle
@include desktop-middle {
  .main-contacts__list {
    font-size: 16px;
    line-height: 180%;
  }

  .main-contacts__tel {
    margin-bottom: 3%;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .main-contacts__map-box {
    height: 407px;
  }
}

//Desktop Small
@include desktop-small {
  .main-contacts__list {
    font-size: 15px;
  }

  .main-contacts__map-box {
    height: 334px;
  }
}

//Tablet
@include tablet {
  .main-contacts__list {
    font-size: 12px;
  }

  .main-contacts__map-box {
    height: 219px;
  }
}

//Mobile
@include mobile {
  .main-contacts__inner {
    order: 2;
    width: 100%;
    padding-bottom: 10px;
  }

  .main-contacts__map-box {
    width: 100%;
    height: 172px;
    margin-bottom: 15px;
  }

  .main-contacts__map-link {
    @include center-transform-horizon;
    @include padding-horizon(35px);
    bottom: 10px;
    text-align: center;
  }

  .main-contacts__list {
    font-size: 13px;
  }

  .main-contacts__item {
    margin-bottom: 50px;
  }
}
