.main {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &--news {
    margin-bottom: 3%;
  }

  &--article {
    padding-top: 4%;
  }

  &--assortment {
    padding-top: 3.8%;
    padding-bottom: 6.3%;
  }
}

.main__list {
  @include reset-list;
}

.main__item {
  &--moving {
    position: relative;
  }
}

.main__services {
  @include padding-vertical(122px);
}

//Desktop Middle
@include desktop-middle {
  .main__services {
    @include padding-vertical(90px);
  }
}

//Desktop Small
@include desktop-small {
  .main__services {
    @include padding-vertical(75px);
  }
}

//Tablet
@include tablet {
  .main__services {
    padding-bottom: 30px;
  }
}

//Mobile
@include mobile {
  .main {
    &--index,
    &--assortment {
      padding-bottom: 50px;
    }
  }

  .main__services {
    padding-bottom: 20px;
  }
}

