.main {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &--news {
    padding-bottom: 3%;
  }

  &--article {
    padding-top: 4%;
  }

  &--assortment {
    padding-top: 3.8%;
    padding-bottom: 6.3%;
  }

  &--contacts {
    padding-bottom: 13.3%;
  }

  &--documentation {
    padding-top: 9.2%;
    padding-bottom: 10.5%;
  }
}

.main__list {
  @include reset-list;
}

.main__item {
  &--moving {
    position: relative;
  }
}

.main__services {
  @include padding-vertical(122px);
}

.main-title {
  margin-bottom: 1%;
  padding-top: 3.8%;
  padding-bottom: 0;

  @include after-clean {
    display: none;
  }
}

//Desktop Middle
@include desktop-middle {
  .main__services {
    @include padding-vertical(90px);
  }
}

//Desktop Small
@include desktop-small {
  .main__services {
    @include padding-vertical(75px);
  }
}

//Tablet
@include tablet {
  .main__services {
    padding-bottom: 30px;
  }
}

//Mobile
@include mobile {
  .main {
    &--index,
    &--assortment,
    &--article,
    &--news,
    &--documentation {
      padding-bottom: 50px;
    }

    &--documentation {
      padding-top: 20%;
    }
  }

  .main__services {
    padding-bottom: 20px;
  }

  .main-title {
    padding-top: 36.5%;
  }
}

