.news {
  @include swiper;
  @include padding-vertical(10.5%);
  line-height: 26px;
  color: $black-light;

  &--main {
    @include flex;
    @include padding-vertical(3.8%);
    justify-content: space-between;
    padding-top: 6%;
  }
}

.news__container {
  @include flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1637px + $desktop-padding;
  margin-left: auto;
  padding-left: $desktop-padding;
}

.news__wrapper {
  @include flex-column;
  width: 25%;
  padding-top: 3.8%;
}

.news__title {
  margin-bottom: 59px;
}

.news__nav-list {
  @include flex;
  @include reset-list;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 4.3%;
  line-height: 28px;
  color: $black;
}

.news__nav-item {
  margin-right: 3%;

  &:last-of-type {
    margin-right: 0;
  }
}

.news__nav-link {
  @include focus-opacity;
  display: inline-block;

  &--active {
    color: $red;
    border-bottom: 1px solid $red;

    @include disabled-focus-opacity();
  }
}

.news__main-title {
  @include reset-margin-text;
  position: relative;
  padding-bottom: 3.3%;
  font-weight: 600;
  font-size: 54px;
  line-height: 60px;
  color: $black;

  @include after {
    bottom: -11%;
    left: 0;
    z-index: 100;
    width: 109px;
    height: 2px;
    background-color: $black;
  }
}

.news__description {
  @include reset-margin-text;
  margin-bottom: 52px;
}

.news__link {
  align-self: flex-start;
  padding-left: 7%;

  @include after-clean {
    margin-left: 7%;
  }
}

.news__slider {
  @include flex-column;
  align-items: flex-start;
  width: 73%;
  padding-right: 12.2%;
  overflow: hidden;
}

.news__list {
  width: 100%;
  margin-bottom: 2.6%;
  overflow: visible;

  &--main {
    @include flex;
    justify-content: space-between;
    margin-bottom: 1%;
  }
}

.news__item {
  padding: 2% 3.5%;
  background-color: $blue;

  &--main {
    width: 31.7%;
    margin-bottom: 1.8%;
    padding: 1.8% 2.5% 1.1%;
  }
}

.news__photo {
  height: 162px;
  margin-bottom: 4.5%;
}

.news__image {
  @include object-fit(cover);
  width: 100%;
}

.news__subtitle {
  @include reset-margin-text;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 17px;
  font-weight: 600;
  color: $black;

  @include after {
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 109px;
    height: 2px;
    background-color: $black;
  }
}

.news__slide-description {
  @include reset-margin-text;
  margin-bottom: 8px;
}

.news__time {
  display: block;
  line-height: 28px;
  text-align: right;
  color: #949494;
}

.news__pagination-list {
  @include flex;
  @include reset-list;
  justify-content: flex-end;
  width: 50%;
  line-height: 28px;
  color: $grey;
}

.news__pagination-item {
  margin-right: 21px;

  &:last-of-type {
    margin-right: 0;
  }
}

.news__pagination-link {
  @include focus-opacity;
}

//Desktop Middle
@include desktop-middle {
  .news {
    font-size: 14px;
    line-height: 180%;
  }

  .news__title {
    margin-bottom: 45px;
  }

  .news__description {
    margin-bottom: 35px;
  }

  .news__photo {
    height: 137px;
  }

  .news__subtitle {
    margin-bottom: 15px;
    padding-bottom: 12px;

    @include after {
      width: 90px;
    }
  }

  .news__slide-description {
    margin-bottom: 5px;
  }

  .news__nav-list {
    line-height: 120%;
  }

  .news__pagination-list {
    line-height: 120%;
  }

  .news__main-title {
    font-size: 48px;
    line-height: 120%;
  }
}

//Desktop Small
@include desktop-small {
  .news {
    font-size: 12px;
  }

  .news__title {
    margin-bottom: 30px;
  }

  .news__description {
    margin-bottom: 25px;
  }

  .news__photo {
    height: 112px;
  }

  .news__subtitle {
    margin-bottom: 12px;
    padding-bottom: 10px;

    @include after {
      width: 80px;
    }
  }

  .news__main-title {
    font-size: 43px;
  }
}

//Tablet
@include tablet {
  .news__container {
    @include container-tablet;
  }

  .news {
    font-size: 10px;
  }

  .news__title {
    margin-bottom: 20px;
  }

  .news__description {
    margin-bottom: 15px;
  }

  .news__photo {
    height: 75px;
  }

  .news__subtitle {
    margin-bottom: 5px;
    padding-bottom: 5px;

    @include after {
      width: 80px;
    }
  }

  .news__link {
    min-width: 185px;
  }

  .news__main-title {
    font-size: 35px;
  }
}

//Mobile
@include mobile {
  .news {
    @include padding-vertical(15px);
    padding-top: 0;
  }

  .news__container {
    @include container-mobile;
  }

  .news__title {
    margin-bottom: 10px;
  }

  .news__wrapper {
    width: 100%;
    margin-bottom: 25px;
  }

  .news__description {
    margin-bottom: 15px;
  }

  .news__photo {
    height: 99px;
  }

  .news__link {
    @include padding-horizon(45px);
  }

  .news__item {
    padding: 10px 15px;
    font-size: 12px;

    &--main {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .news__list {
    margin-bottom: 20px;
  }

  .news__slider {
    width: 100%;
    padding: 0;
  }

  .news__subtitle {
    margin-bottom: 15px;
    padding-bottom: 10px;
  }

  .news__main-title {
    width: 100%;
    margin-bottom: 15px;
    font-size: 25px;

    @include after-clean {
      bottom: 0;
    }
  }
}
