.promo {
  position: relative;
  padding-bottom: 5%;
  font-weight: 600;
  line-height: 60px;
  color: white;
  text-shadow: -16px 24px 24px rgba(0, 0, 0, 0.25);
  background-color: #0F0F11;
  background-image: url("../img/svg/promo/logo.svg"), url("../img/main/promo/car.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 28% 10%, 0 0;
  background-size: 57%, cover;
}

.promo__container {
  padding-top: 22.7%;
}

.promo__motion {
  display: block;
  font-size: 40px;
  color: #333333;
}

.promo__motion-title {
  display: block;
  margin-bottom: 9%;
}

.promo__title {
  @include reset-margin-text;
  margin-bottom: 15%;
  padding-right: 24%;
  padding-left: 6.5%;
  font-size: 45px;
  line-height: 55px;
  text-align: right;
}

.promo__description {
  @include reset-margin-text;
  @include center-margin;
  width: 55%;
  font-size: 45px;
  text-align: center;
  color: $grey;
}

.promo__gear {
  position: absolute;
  bottom: 5%;
  left: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 275px;

  @include before-after {
    @include center-transform-vertical;
    height: 2px;
    background-color: $grey;
  }

  @include before-clean {
    right: 0;
    width: 81%;
  }

  @include after-clean {
    left: 0;
    width: 13.1%;
  }
}

.promo__gear-container {
  @include flex;
  position: relative;
  z-index: 10;
  align-items: center;
  margin-left: 4.5%;
}

.promo__wrapper {
  position: relative;

  &--large {
    width: 275px;
    height: 275px;
  }

  &--small {
    width: 206px;
    height: 206px;
    margin-left: -7px;
  }

  &--light,
  &--light-large {
    @include center-transform-vertical;
    position: absolute;
    z-index: 10;
  }

  &--light {
    left: 29%;
    width: 100px;
    height: 100px;
  }

  &--light-large {
    left: 49%;
    width: 120px;
    height: 120px;
  }
}


.promo__icon {
  position: absolute;
  fill: #333333;

  &--gear {
    width: 100%;
    height: 100%;
    animation: spin 10s infinite linear;
  }

  &--gear-small {
    width: 100%;
    height: 100%;
    animation: spin-negative 10s infinite linear;
  }

  &--gear-light {
    width: 100%;
    height: 100%;
    animation: spin 15s infinite linear;
  }

  &--gear-light-negative {
    animation: spin-negative 15s infinite linear;
  }

  &--circle,
  &--circle-fat {
    @include center-transform;
  }

  &--circle {
    width: 52%;
    height: 52%;
  }

  &--circle-fat {
    width: 37%;
    height: 37%;
  }

  &--light-grey {
    fill: #939393;
  }

  &--circle-small {
    @include center-transform;
    width: 90%;
    height: 90%;
  }

  &--light-circle {
    width: 75%;
    height: 75%;
  }

  &--light-circle-2 {
    width: 50%;
    height: 50%;
  }
}


//Desktop Middle
@include desktop-middle {
  .promo {
    background-size: 57%, 100%;
  }

  .promo__container {
    margin-bottom: 0;
    padding-top: 23%;
  }

  .promo__description,
  .promo__title {
    font-size: 35px;
    line-height: 160%;
  }

  .promo__motion {
    font-size: 30px;
  }

  .promo__title {
    margin-bottom: 9%;
    padding-right: 28%;
  }

  .promo__motion-title {
    margin-bottom: 7%;
  }

  .promo__gear {
    height: 225px;

    @include after-clean {
      width: 14.1%;
    }
  }

  .promo__wrapper {
    &--large {
      width: 225px;
      height: 225px;
    }

    &--small {
      width: 170px;
      height: 170px;
    }

    &--light,
    &--light-large {
      @include center-transform-vertical;
      position: absolute;
      z-index: 10;
    }

    &--light {
      left: 29%;
      width: 80px;
      height: 80px;
    }

    &--light-large {
      left: 49%;
      width: 100px;
      height: 100px;
    }
  }
}

//Desktop small
@include desktop-small {
  .promo__description,
  .promo__title {
    font-size: 30px;
  }

  .promo__motion {
    font-size: 25px;
  }

  .promo__title {
    margin-bottom: 10%;
    padding-right: 27%;
  }

  .promo__motion-title {
    margin-bottom: 4%;
  }

  .promo__gear {
    height: 190px;
  }

  .promo__wrapper {
    &--large {
      width: 190px;
      height: 190px;
    }

    &--small {
      width: 140px;
      height: 140px;
    }

    &--light {
      left: 30%;
      width: 67px;
      height: 67px;
    }

    &--light-large {
      left: 50%;
      width: 85px;
      height: 85px;
    }
  }
}

//Tablet
@include tablet {
  .promo {
    padding-bottom: 38px;
  }

  .promo__description,
  .promo__title {
    font-size: 20px;
  }

  .promo__motion {
    font-size: 15px;
  }

  .promo__gear {
    bottom: 2%;
    height: 130px;

    @include before-clean {
      width: 80%;
    }

    @include after-clean {
      width: 15.8%;
    }
  }

  .promo__wrapper {
    &--large {
      width: 130px;
      height: 130px;
    }

    &--small {
      width: 85px;
      height: 85px;
      margin-left: -4px;
    }

    &--light {
      left: 35%;
      width: 40px;
      height: 40px;
    }

    &--light-large {
      left: 52.8%;
      width: 50px;
      height: 50px;
    }
  }

  .promo__motion-title {
    margin-bottom: 2.7%;
  }
}

//Mobile
@include mobile {
  .promo {
    padding-bottom: 0;
    background-size: 57%, cover;
  }

  .promo__description,
  .promo__title {
    font-size: 15px;
  }

  .promo__motion {
    font-size: 10px;
  }

  .promo__title {
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
  }

  .promo__description {
    width: 60%;
  }

  .promo__gear {
    bottom: 5%;
    height: 32px;

    @include before-after-clean {
      height: 1px;
    }

    @include before-clean {
      width: 80%;

      @media (min-width: 375px) {
        width: 82%;
      }
    }

    @include after-clean {
      width: 5%;
    }
  }

  .promo__wrapper {
    &--large {
      width: 32px;
      height: 32px;
    }

    &--small {
      width: 25px;
      height: 25px;
      margin-left: -4px;
    }

    &--light {
      left: 30%;
      display: none;
      width: 10px;
      height: 10px;
    }

    &--light-large {
      left: 43%;
      display: none;
      width: 15px;
      height: 15px;
    }
  }
}
