.promo {
  position: relative;
  padding-bottom: 3.5%;
  color: white;
  background-color: white;
  background-image: url("../img/svg/promo/logo.svg"), url("../img/main/promo/car.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 28% 10%, 0 0;
  background-size: 57%, cover;
}

.promo__container {
  padding-top: 38.3%;
}

.promo__motion {
  display: block;
  font-size: 50px;
  line-height: 120%;
  color: #D3D3D3;
}

.promo__motion-title {
  display: block;
  margin-bottom: 8%;
}

.promo__title {
  @include reset-margin-text;
  @include center-margin;
  width: 55%;
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  text-align: center;
  color: $grey;
  text-shadow: -16px 24px 24px rgba(0, 0, 0, 0.25);
}

//Desktop Middle
@include desktop-middle {
  .promo {
    background-position: 20% 10%, 0 0;
    background-size: 63%, 100%;
  }

  .promo__container {
    margin-bottom: 60px;
    padding-top: 34%;
  }

  .promo__title,
  .promo__motion {
    font-size: 40px;
  }
}

//Desktop small
@include desktop-small {
  .promo {
    padding-bottom: 35px;
  }

  .promo__container {
    margin-bottom: 35px;
    padding-top: 35.2%;
  }

  .promo__title,
  .promo__motion {
    font-size: 35px;
  }

  .promo__wrapper {
    &--large {
      width: 190px;
      height: 190px;
    }

    &--small {
      width: 140px;
      height: 140px;
    }

    &--light {
      left: 30%;
      width: 67px;
      height: 67px;
    }

    &--light-large {
      left: 50%;
      width: 85px;
      height: 85px;
    }
  }
}

//Tablet
@include tablet {
  .promo {
    padding-bottom: 30px;
  }

  .promo__container {
    margin-bottom: 25px;
    padding-top: 255px;
  }

  .promo__title,
  .promo__motion {
    font-size: 25px;
  }
}

//Mobile
@include mobile {
  .promo {
    padding-bottom: 15px;
  }

  .promo__container {
    margin-bottom: 15px;
    padding-top: 109px;
  }

  .promo__title {
    width: 60%;
    font-size: 16px;
  }

  .promo__motion {
    font-size: 16px;
  }
}
